@charset "UTF-8";



/* ----------------------- */
.topm_StoreList{

padding:10px 10px;
margin:190px 60px 0px 60px;

}
.title_StoreList {
    margin-bottom: 60px;
    font-size:70px;
	font-weight:900;
}


.title2_StoreList {
    font-size:20px;
	font-weight:900;
}


.titlephoto_StoreList {
    width: 65px;
    height: 65px;
}


.textalign__StoreList {
	text-align: center;
}



.photo_StoreList {
    width: 290px;
    height: 260px;
    margin-top:10px;
}


.cardsize_StoreList{
	width: 295px; 
	height: 384px;
	padding-left: 2px;
	padding-right: 5px;
	margin:0px 15px;
	
}

.nav-pills .nav-link.active {
        background-color: #FFCC33; /* 배경 색상을 개나리색으로 설정 */
        color: #000000; /* 글자 색상을 검정색으로 설정 */
         border-radius: 20px;
         margin-top:60px;
    }
 .nav-pills .nav-link {
        color: #000000; /* 글자 색상을 검정색으로 설정 */
         border-radius: 20px;
          margin-top:60px;
    }    
    



a{
	text-decoration:none;
	color:black;
	
}


.good {
    transition: transform 0.3s, box-shadow 0.3s; /* 애니메이션 속성 설정 */
}

.good:hover {
    transform: scale(1.05); /* 호버 시 카드 크기 확대 */
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3); /* 그림자 효과 */
}



.selectbtn{
	margin-top:20px;
}


.selectcate {
    border: 3px solid #FFCD00;
    border-radius: 20px;
    background-color: white;
    color: #343a40; 
    width: 200px;
    height: 70px; 
   text-align:center;
   margin:0px 9px 0px 0px;

}


.selectcate:focus {
    outline: 3px solid #FFCD00;
}

html, body {
  width: 100%;  
  height: 100%;
  -webkit-font-smoothing: antialiased; 
  align-items: center;
}



.title {
  height: 100px;
  
}

.title_s {
position: relative;
  top: 250px; 
  animation: bounce .3s ease infinite alternate;

  font-family: 'jua';
  font-size: 60px;
   color: black;
 /*  color: #FF7777; */
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

.title_s:nth-child(2) { animation-delay: .1s; }
.title_s:nth-child(3) { animation-delay: .2s; }
.title_s:nth-child(4) { animation-delay: .3s; }
.title_s:nth-child(5) { animation-delay: .4s; }
.title_s:nth-child(6) { animation-delay: .5s; }
.title_s:nth-child(7) { animation-delay: .6s; }
.title_s:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  0% {
    top: 0; /* 시작 지점 */
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC;
  }
  50% {
    top: -10px; /* 중간에 최대 높이 */
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC;
  }
  100% {
    top: 0; /* 끝 지점 */
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC;
  }
}


