@charset "UTF-8";


.display1 {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

  .boardline {  
    margin-top:60px;   
    background-color: #FFCC33;
    width:100%;
    height: 3px;    
}


.topm_board{
	margin-top:200px; 
	
}

.board_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title2_board{
	font-weight:bold;
	font-size:20px;
	color:black;
}


.title_board{
	font-weight:bold;
	font-size:20px;
	color:black;
}

.title_board:hover,
.title2_board:hover{
	font-weight:bold;
	font-size:20px;
	color:#FFCC33;
	text-decoration:none;
}


.text_board{
	font-size:15px;
	color:gray;
	margin-top:15px;
    overflow: hidden; /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 생략 부호(...) 표시 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    width: 70%; /* 예시로 너비 지정 */
   

}

.text2_board{
	font-size:30px;
	font-weight:800;
	margin-right:15px;
	color:black;
	
}

.btn_board{
 background-color:#FFEB99;
 border-radius: 30px;	
 font-weight:bold;
 border:none;
 color:black;
 width:90px;
 height:40px;
 margin:2px 10px;
}


.questionbox_board{
  margin:10px 0px;
  width:85%;
  
}

.box_board{
	width:1000px;
}
.photo_board{
	width:25px;
	height:25px;
    margin:10px 10px;
}


.photo2_board{
	width:150px;
	height:150px;
    margin:10px 20px;
    border:none;
    border-radius:10px;
}


.photo3_board{
	width:20px;
	height:20px;
    marign-right:10px;
    border:none;
    border-radius:50px;	
}

.photo4_board{
    width: 260px;
    height: 320px;
    margin-top:10px;
}
a{
	text-decoration:none;
	color:black;
}
a:hover {
    font-weight: bold;
    cursor: pointer;
}


.btn_text{
	color:white;
	font-size:20px;
	font-weight: bold;
	border-radius:10px;
    width:100px;
}

.text_board{
	font-size:16px;
	font-weight: bold;
	color:black;
}


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: none !important;

      }
      
      .bg-body-secondary {
    --bs-bg-opacity: 1;
    background-color: white !important;
}



      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
        
        
        
        
      }

       .b-example-divider {
        width: 100%;
        height: 3rem;
         background-color: rgba(0, 0, 0, .1);  
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      } 

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

       .btn-bd-primary {
         --bd-violet-bg: #712cf9; 
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
         --bs-btn-color: var(--bs-white); 
        --bs-btn-bg: var(--bd-violet-bg);
         --bs-btn-border-color: var(--bd-violet-bg); 
        --bs-btn-hover-color: var(--bs-white);  
        --bs-btn-hover-bg: #6528e0; 
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
         --bs-btn-active-color: var(--bs-btn-hover-color); 
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8; 
      } 

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      } 
      
      
      
      
     /*  대기 */
     
   .radio_myradio{
    background-color: #fff;   
    border: 4px solid #fcd11e; 
} 



.cardsize_board{
	width: 285px; 
	height: 330px;
	margin:0px 15px;
	
}
     
     
  .subtitle_board{
 font-size:30px;
 margin: 10px 10px;
  }   
